@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type"
          content="text/html; charset=itf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Ошибка</h1>
        <h2>При обработке запроса произошла ошибка</h2>
    </hgroup>
</body>
</html>
