<div class="modal fade" id="modal-spinner" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto;">
        <div class="modal-content modal-spinner-fade border-0">
            <div class="modal-body">
                <div id="spinner" class="container ui-spinner text-center notice-spinner">
                    <img src="~/img/ui.spinner.gif" />
                </div>
                <div id="modal-question-body-container" class="mb-0 alert text-center" role="alert">
                    <span>Идет загрузка...</span>
                </div>
            </div>
        </div>
    </div>
</div>