@*Шаблон для тображения рендера находится в ~\HealbeWEB\Models\RenderModel.cs*@
<script id="render-test" type="text/x-jsrender">
    <div class="col-xs-1 text-center">
        {{if Code == '0'}}
        <span>First: {{: Text}}</span>
        {{else}}
        <span>Second: {{: Text}}</span>
        {{/if}}
    </div>
</script>